.myNav{
    background-color: #222222;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}
.myContainer{
    background-color: #f3f3f3;
}
.sameLine{
    display: inline-block;
    width: 100px;
    margin-top: 15px;
}
/*.selected{*/
    /*color: #f3f3f3;*/
/*}*/
.brandFont{
    font-size: 1.5em;
    font-family: Castellar;
    color: #f3f3f3;
}

.selected:hover{
    text-decoration: none;
    color: #f90f9a;
}

.margList{
    margin-left: 5em;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
        background-color: #2a2730;
}
.colorHeart{
    color: #f90f9a;
}
.fa{
    color: #f90f9a;
}
.w3-black{
    color: #f90f9a!important;
}

#myNavbar{
    color: #292929;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/img/img6.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/img/img9.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/img/img4.jpg");
    min-height: 400px;
}

.w3-pad{
    margin-top: 32px;
}

.centerM{
    margin-left: 50%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/fontsgoogle.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/fontsgoogle2.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}